<h4><a href="https://docs.google.com/spreadsheets/d/1xP0aCx9S4wG_3XN9au5VezJ6xVTnZWNlOLX8l6B69n4/edit#gid=1378949078">Character Stats</a></h4>

<pre>
version: {{result['json']['version']}}
last edit date: {{result['json']['lastEditDate']}}
</pre>

<pre>
<button (click)="importFromGoogleDocs()">Update from google document:</button>  {{googleDocJsonFeedUrl}}
</pre>

<pre>
<button (click)="exportToMyJSON()">Update to myjson server:</button> {{myJsonUrl}}
</pre>

<!--textarea readonly cols="50" rows="20"  style="float: right; width:100%">{{result.text}}</textarea-->

<p></p>
<grid [rows]="characters" [columns]="columns"></grid>


