<h4><a href="https://docs.google.com/spreadsheets/d/1xP0aCx9S4wG_3XN9au5VezJ6xVTnZWNlOLX8l6B69n4/edit#gid=1378949078">Player Powers</a></h4>

This exporter will automatically include new fields which have been added to the <a href="https://docs.google.com/spreadsheets/d/1xP0aCx9S4wG_3XN9au5VezJ6xVTnZWNlOLX8l6B69n4/edit#gid=1378949078">Player Powers</a> spreadsheet tab.


<pre>
version: {{result['json']['version']}}
last edit date: {{result['json']['lastEditDate']}}
</pre>


<pre>
<button (click)="handleImportFromGoogleDocs()"><span class="glyphicon glyphicon-import"></span> Import from google document:</button>  {{googleDocJsonFeedUrl}}
</pre>


<pre>
<button (click)="handleExportToDynamoDB()"><span class="glyphicon glyphicon-export"></span> Export to AWS DynamoDB:</button>


<button (click)="handleExportToMyJSON()"><span class="glyphicon glyphicon-export"></span> Export to myjson:</button> {{myJsonUrl}}
</pre>

<grid [rows]="playerpowers" [columns]="columns"></grid>

