<h4><a href="https://docs.google.com/spreadsheets/d/1xP0aCx9S4wG_3XN9au5VezJ6xVTnZWNlOLX8l6B69n4/edit#gid=2045199098">Sim Workers</a></h4>

This exporter will automatically include new worker races, professions and levels but NOT new fields which have been added to the <a href="https://docs.google.com/spreadsheets/d/1xP0aCx9S4wG_3XN9au5VezJ6xVTnZWNlOLX8l6B69n4/edit#gid=2045199098">Simulation</a> spreadsheet tab.


<pre>
version: {{result['json']['version']}}
last edit date: {{result['json']['lastEditDate']}}
</pre>

<pre>
<button (click)="handleImportFromGoogleDocs()"><span class="glyphicon glyphicon-import"></span> Import from google document:</button>  {{googleDocJsonFeedUrl}}
</pre>

<pre>
<button (click)="handleExportToDynamoDB()"><span class="glyphicon glyphicon-export"></span> Export to AWS DynamoDB:</button>

<button (click)="handleExportToMyJSON()"><span class="glyphicon glyphicon-export"></span> Export to myjson:</button> {{myJsonUrl}}
</pre>


<b>AWS DynamoDB view</b>
<textarea readonly cols="50" rows="20"  style="float: right; width:100%">{{result.text}}</textarea>
